body {
  margin: 0;
  user-select: none;
  background-color: #eee;
  min-width: 100%;
}

.wc-box {
  position: absolute;
  right: 0;
  height: 24px;
}

.wc-box div {
  position: relative;
  float: left;
  width: 24px;
  height: 24px;
}

.wc-box div:before,
.wc-box div:after {
  top: 30%;
  right: 30%;
  bottom: 30%;
  left: 30%;
  content: " ";
  position: absolute;
  border-color: #000;
  border-style: solid;
  border-width: 0 0 2px 0;
}

.wc-box .minimize:before {
  border-bottom-width: 2px;
}

.wc-box .maximize:before {
  border-width: 1px 1px 2px 1px;
}

.wc-box .close:before,
.wc-box .close:after {
  bottom: 50%;
  top: 50%;
}

.wc-box .close:before {
  transform: rotate(45deg);
}

.wc-box .close:after {
  transform: rotate(-45deg);
}

.wc-box div:hover {
  background-color: #CCCCCC;
}

.wc-box .close:hover {
  background-color: #E04343;
}

.wc-box div:hover:after,
.wc-box div:hover:before {
  border-color: #333333;
}

.wc-box .close:hover:after,
.wc-box .close:hover:before {
  border-color: #FFFFFF;
}

.systembar {
  width: 100vw;
  height: 24px;
  background-color: rgba(210, 210, 210, 0.8);
  position: absolute;
}

.logo {
  text-align: center;
}

.loginpicture{
  position: absolute;
  top: 40px;
  left: 150px;
  background-color: #CCC;
  width: 140px;
  border-radius: 40px;
  display: flex;
}
.logoicon{
  font-family: material icons;
  font-style: normal;
  color: green;
  font-size: 32pt;
  padding: 0;
  margin: 0;
  align-self: center;
}
.logowidgettekst{
  font-family: Roboto;
  font-size: 10pt;
  margin-left: 4px;
  color: grey
}

h1 {
  font-family: 'Raleway', sans-serif;
  padding: 20px;
}

h1::first-letter {
  color: green;
  width: 100%;
}

h3{
  font-family: Roboto light;
  font-size: 12pt;
  margin-top: 40px;
}

h2{
  font-family: Roboto light;
  font-size: 12pt;
  margin-top: 80px;
  margin-bottom: -10px;
}
.gradertxt{
  font-family: Roboto medium;
  text-transform: capitalize;
  margin: 0;
  color: grey;
}

#maincontrol {
  position: absolute;
  top: 120px;
  height: 70%;
  width: 60%;
  left: 20%;
  background-color: white;
  border-radius: 6px;
  border-top: 4px solid #7C25A7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.activatementalshower {
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: white;
  align-self: center;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  border: none;
  text-align: center;
  font-family: Roboto medium;
  font-style: normal;
  text-transform: uppercase;
  color: #009688;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0 none;
}

.activatementalshower:active {
  transform: translateY(1.5px);
}

.infodisp {
  position: absolute;
  top: 120px;
  height: 70%;
  width: 12%;
  left: 150px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 6px;
  display: flex;
}

.dials {
  height: 90%;
  width: 80%;
  align-self: center;
  margin: 0 auto;
  text-align: center;
}

.dialtxt {
  font-family: Roboto medium;
  text-transform: uppercase;
  text-align: center;
  padding-top: 24px;
  font-size: 8pt;
}

#temp {
  height: 140px;
  width: 140px;
  border: 4px solid #7C25A7;
  border-radius: 50%;
  display: flex;
  margin: 0 auto;
}

#temp2 {
  height: 140px;
  width: 140px;
  border: 4px solid #7C25A7;
  border-radius: 50%;
  display: flex;
  margin: 0 auto;
}

#temp3 {
  height: 140px;
  width: 140px;
  border: 4px solid #7C25A7;
  border-radius: 50%;
  display: flex;
  margin: 0 auto;
}

.info {
  align-self: center;
  width: 100%;
  font-family: Roboto light;
  font-size: 18pt;
}

#demo {
  align-self: center;
  width: 100%;
  font-family: Roboto light;
  font-size: 18pt;
}

#demo2 {
  align-self: center;
  width: 100%;
  font-family: Roboto light;
  font-size: 18pt;
}

#demo3 {
  align-self: center;
  width: 100%;
  font-family: Roboto light;
  font-size: 18pt;
}

.settingsbutton{
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: material icons;
  font-size: 24pt;
  border: none;
  background-color: white;
  outline: 0 none;
}

#console{
  position: absolute;
  top: 40px;
  left: 0;
  height: 90%;
  width: 100%;
  background-color: white;
  margin: 0;
  border-radius: 6px;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 2px rgba(0, 0, 0, 0.24);
  display: none;
}

.sliders{
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 40px;
}

.supportingtext {
  padding-left: 24px;
  padding-top: 6px;
  font-family: Roboto;
  font-weight: 300;
  width: 60%;
  color: grey;
  font-size: 10pt;
  margin: 0;
}

.link {
  text-align: center;
}

.leftside{
  height: 100%;
  width: 100%;
  margin: 0;
  display: inline-block;
}

.titletext {
  font-family: Roboto;
  font-weight: 400;
  padding-left: 24px;
  padding-top: 24px;
  font-size: 14pt;
  margin: 0;
}


.cards {
  height: 70%;
  min-width: 25%;
  position: absolute;
  right: 0px;
  top: 120px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr
}

.icon {
  position: relative;
  margin-left: 70%;
  margin-top: -95px;
}

.togglepos{
  margin-top: 10%;
  padding-left: 24px;
}

#nytkort {
  width: 50%;
  height: 140px;
  background-color: white;
  margin-left: 120px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-left: 4px solid #7C25A7;
  grid-row: 1;
}

#nytkort2 {
  width: 50%;
  height: 140px;
  background-color: white;
  margin-left: 100px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-left: 4px solid rgba(25, 141, 255, 0.2);
  position: absolute;
  top: 330px;
  left: 40px;
}

#nytkort3 {
  width: 50%;
  height: 140px;
  background-color: white;
  margin-left: 100px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-left: 4px solid rgba(255, 170, 0, 0.2);
  position: absolute;
  top: 530px;
  left: 40px;
}

#nytkort4 {
  width: 50%;
  height: 140px;
  background-color: white;
  margin-left: 100px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-left: 4px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 730px;
  left: 40px;
}




.activatebutton {
  text-decoration: none;
  position: absolute;
  bottom: 12px;
  left: 24px;
  color: #374761;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: none;
}



.material-icon {
  font-size: 48pt;
  font-style: normal;
  font-family: material icons;
}

label.inputtoggle {
  line-height: 0;
  font-size: 0;
  display: inline-block;
  margin: 0;


}

label.inputtoggle>span {
  display: inline-block;
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(#848484), color-stop(50%, #848484), color-stop(50%, #7cbcbf), to(#7cbcbf));
  background-image: linear-gradient(to right, grey 0%, grey 50%, #7C25A7 50%, #7C25A7 100%);
  background-size: 64px 14px;
  background-position: 0%;
  border-radius: 32px;
  width: 32px;
  height: 14px;
  cursor: pointer;
  -webkit-transition: background-position 0.2s ease-in;
  transition: background-position 0.2s ease-in;
}

label.inputtoggle>input:checked+span {
  background-position: -100%;
}

label.inputtoggle>span:after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  background: #F1F1F1;
  align-self: center;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: left 0.2s ease-in, background-color 0.2s ease-in, -webkit-transform 0.3s ease;
  transition: left 0.2s ease-in, background-color 0.2s ease-in, -webkit-transform 0.3s ease;
  transition: left 0.2s ease-in, background-color 0.2s ease-in, transform 0.3s ease;
  transition: left 0.2s ease-in, background-color 0.2s ease-in, transform 0.3s ease, -webkit-transform 0.3s ease;
}

label.inputtoggle>input:checked+span:after {
  left: calc(100% - 18px);
  background-color: #4A1664;
}

label.inputtoggle>input {
  display: block;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

label.inputtoggle1 {
  line-height: 0;
  font-size: 0;
  display: inline-block;
  margin: 0;
  position: absolute;
  left: 24px;
  bottom: 12px;
}

label.inputtoggle1>span {
  display: inline-block;
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(#848484), color-stop(50%, #848484), color-stop(50%, #7cbcbf), to(#7cbcbf));
  background-image: linear-gradient(to right, grey 0%, grey 50%, #198dff 50%, #198dff 100%);
  background-size: 64px 14px;
  background-position: 0%;
  border-radius: 32px;
  width: 32px;
  height: 14px;
  cursor: pointer;
  -webkit-transition: background-position 0.2s ease-in;
  transition: background-position 0.2s ease-in;
}

label.inputtoggle1>input:checked+span {
  background-position: -100%;
}

label.inputtoggle1>span:after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  background: #F1F1F1;
  align-self: center;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: left 0.2s ease-in, background-color 0.2s ease-in, -webkit-transform 0.3s ease;
  transition: left 0.2s ease-in, background-color 0.2s ease-in, -webkit-transform 0.3s ease;
  transition: left 0.2s ease-in, background-color 0.2s ease-in, transform 0.3s ease;
  transition: left 0.2s ease-in, background-color 0.2s ease-in, transform 0.3s ease, -webkit-transform 0.3s ease;
}

label.inputtoggle1>input:checked+span:after {
  left: calc(100% - 18px);
  background-color: #0F5499;
}

label.inputtoggle1>input {
  display: block;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

label.inputtoggle2 {
  line-height: 0;
  font-size: 0;
  display: inline-block;
  margin: 0;
  position: absolute;
  left: 24px;
  bottom: 12px;
}

label.inputtoggle2>span {
  display: inline-block;
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(#848484), color-stop(50%, #848484), color-stop(50%, #7cbcbf), to(#7cbcbf));
  background-image: linear-gradient(to right, grey 0%, grey 50%, #ffaa00 50%, #ffaa00 100%);
  background-size: 64px 14px;
  background-position: 0%;
  border-radius: 32px;
  width: 32px;
  height: 14px;
  cursor: pointer;
  -webkit-transition: background-position 0.2s ease-in;
  transition: background-position 0.2s ease-in;
}

label.inputtoggle2>input:checked+span {
  background-position: -100%;
}

label.inputtoggle2>span:after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  background: #F1F1F1;
  align-self: center;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: left 0.2s ease-in, background-color 0.2s ease-in, -webkit-transform 0.3s ease;
  transition: left 0.2s ease-in, background-color 0.2s ease-in, -webkit-transform 0.3s ease;
  transition: left 0.2s ease-in, background-color 0.2s ease-in, transform 0.3s ease;
  transition: left 0.2s ease-in, background-color 0.2s ease-in, transform 0.3s ease, -webkit-transform 0.3s ease;
}

label.inputtoggle2>input:checked+span:after {
  left: calc(100% - 18px);
  background-color: #996600;
}

label.inputtoggle2>input {
  display: block;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

label.inputtoggle3 {
  line-height: 0;
  font-size: 0;
  display: inline-block;
  margin: 0;
  position: absolute;
  left: 24px;
  bottom: 12px;
}

label.inputtoggle3>span {
  display: inline-block;
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(#848484), color-stop(50%, #848484), color-stop(50%, #7cbcbf), to(#7cbcbf));
  background-image: linear-gradient(to right, grey 0%, grey 50%, #555 50%, #555 100%);
  background-size: 64px 14px;
  background-position: 0%;
  border-radius: 32px;
  width: 32px;
  height: 14px;
  cursor: pointer;
  -webkit-transition: background-position 0.2s ease-in;
  transition: background-position 0.2s ease-in;
}

label.inputtoggle3>input:checked+span {
  background-position: -100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
}

label.inputtoggle3>span:after {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  background: #F1F1F1;
  align-self: center;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: left 0.2s ease-in, background-color 0.2s ease-in, -webkit-transform 0.3s ease;
  transition: left 0.2s ease-in, background-color 0.2s ease-in, -webkit-transform 0.3s ease;
  transition: left 0.2s ease-in, background-color 0.2s ease-in, transform 0.3s ease;
  transition: left 0.2s ease-in, background-color 0.2s ease-in, transform 0.3s ease, -webkit-transform 0.3s ease;
}

label.inputtoggle3>input:checked+span:after {
  left: calc(100% - 18px);
  background-color: rgb(0, 0, 0);
}

label.inputtoggle3>input {
  display: block;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

#countdown {
  position: absolute;
  top: 120px;
  height: 70%;
  width: 60%;
  left: 20%;
  display: flex;
  justify-content: center;
}

svg {
  width: 300px;
  height: 300px;
  transform: rotateZ(-90deg);
  align-self: center;
  display: flex;
  stroke-dasharray: 813px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 12px;
  stroke: #7C25A7;
  fill: none;
  animation: countdown 8s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 813px;
  }

  to {
    stroke-dashoffset: 0px;
  }
}

input[type=range] {
  -webkit-appearance: none;
  width: 80%;
  margin: 7.05px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;

  background: #4de14d;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {

  border: 0px solid rgba(0, 0, 0, 0);
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: #00d000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.05px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #51e251;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1.9px;
  cursor: pointer;

  background: #4de14d;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {

  border: 0px solid rgba(0, 0, 0, 0);
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: #00d000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 1.9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #49e049;
  border: 0px solid #010101;
  border-radius: 0px;

}
input[type=range]::-ms-fill-upper {
  background: #4de14d;
  border: 0px solid #010101;
  border-radius: 0px;

}
input[type=range]::-ms-thumb {

  border: 0px solid rgba(0, 0, 0, 0);
  height: 16px;
  width: 16px;
  border-radius: 50px;
  background: #00d000;
  cursor: pointer;
  height: 1.9px;
}
output{
  font-family: Roboto medium;
}
#ageOutputId{
  font-family: Roboto medium;
  padding: 12px;
}
